@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-dark-bg text-paragraph font-sans overflow-x-hidden;
  }
  ::selection {
    @apply bg-accent text-dark-bg;
  }
}